body {
  background: #f4f1fe;
}

.container {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 25px 20px;
  margin-top: 70px;
  background: white;
}

header {
  padding-bottom: 45px;
  border-bottom: 1px solid #f4f1fe;
}

.search-bar {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #f4f1fe;
  padding-left: 15px;
  font-size: 15px;
}

.search-button {
  width: 16%;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #1ecdff;
  color: white;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 35px;
}

.weather-info {
}

.weather-details {
  position: sticky;
  left: 100%;
  font-size: 30px;
}

.weather-description {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  color: gray;
}

.city-name {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Nunito Sans", sans-serif;
}

.weather-icon {
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.degree-f-c {
  padding-bottom: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

.footer {
  padding-top: 20px;
  text-align: center;
  color: gray;
  font-size: 12px;
  border-top: 1px solid #f4f1fe;
}

a {
  text-decoration: none;
}

.humidty-wind {
  color: red;
}
